@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

header {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

blockquote {
  background-color: #ededeb;
  font-style: italic;
  margin-left: 10px;
  padding: 10px 10px 1px 10px;
  color: black;
}

body {
  margin: 10px 10px 0 10px;
  overflow: hidden;
  background-color: #343A40;
}

pre {
  background: #343A40;
  color: pink;
  padding: 20px;
}

.card {
  height: 80vh;
}

.card-body {  
  margin: 0;
  padding: 0;
}

.card-body.preview {
  overflow-y: scroll;
}

.card-header {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

#editor, #preview {
  border: none;
  height: 100%;
  line-height: 1.5;
  resize: none;  
  padding: 10px 20px 0px 20px;
  width: 100%;
}

#editor {
  font-family: 'Roboto Mono', monospace;
  overflow-y: scroll;
}

a, span {
  font-family: 'Raleway', sans-serif;
}

a:hover {
  text-decoration: none;
}

table, th, td {
  border: 1px solid black;
}

@media (max-width: 800px){
  .card {
    height: 40vh;
    margin-bottom: 10px;
  }
}